{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button type="button" aria-label="Toggle navigation menu" aria-controls="site-nav-hidden-links" aria-expanded="false"><div class="navicon" aria-hidden="true"></div></button>
        <ul class="visible-links">
          {% assign home_active = false %}
          {% if page.url == '/' %}
            {% assign home_active = true %}
          {% endif %}
          <li class="masthead__menu-item masthead__menu-item--lg persist{% if home_active %} is-active{% endif %}">
            <a href="{{ base_path }}/"{% if home_active %} aria-current="page"{% endif %}>{{ site.title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign nav_active = false %}
            {% assign nav_exact = false %}
            {% if page.url == link.url %}
              {% assign nav_active = true %}
              {% assign nav_exact = true %}
            {% elsif link.active_collection and page.collection == link.active_collection %}
              {% assign nav_active = true %}
            {% endif %}
            <li class="masthead__menu-item{% if nav_active %} is-active{% endif %}">
              <a href="{{ domain }}{{ link.url }}"{% if nav_exact %} aria-current="page"{% elsif nav_active %} aria-current="location"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" tabindex="0" aria-label="Toggle color theme"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true"></i></a>
          </li>
        </ul>
        <ul id="site-nav-hidden-links" class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
