{% assign publication = include.publication %}
{% assign has_publication_links = false %}
{% if publication.paperurl or publication.pdfurl or publication.slidesurl or publication.bibtexurl %}
  {% assign has_publication_links = true %}
{% endif %}
{% assign show_publication_citation = false %}
{% unless include.hide_citation %}
  {% if publication.citation %}
    {% assign show_publication_citation = true %}
  {% endif %}
{% endunless %}
{% if show_publication_citation or has_publication_links %}
  <p{% if include.small %} style="font-size: smaller"{% endif %}>
    {% if show_publication_citation %}Recommended citation: {{ publication.citation }}{% endif %}
    {% if has_publication_links %}
      {% if show_publication_citation %}<br />{% endif %}
      {% assign publication_link_separator = "" %}
      {% if publication.paperurl %}
        <a href="{{ publication.paperurl }}">{{ publication.paperlabel | default: "View Paper" }}</a>
        {% assign publication_link_separator = " | " %}
      {% endif %}
      {% if publication.pdfurl %}
        {{ publication_link_separator }}<a href="{{ publication.pdfurl }}">{{ publication.pdflabel | default: "Download PDF" }}</a>
        {% assign publication_link_separator = " | " %}
      {% endif %}
      {% if publication.slidesurl %}
        {{ publication_link_separator }}<a href="{{ publication.slidesurl }}">Download Slides</a>
        {% assign publication_link_separator = " | " %}
      {% endif %}
      {% if publication.bibtexurl %}
        {{ publication_link_separator }}<a href="{{ publication.bibtexurl }}">Download BibTeX</a>
      {% endif %}
    {% endif %}
  </p>
{% endif %}
